<?xml version="1.0" encoding="utf-16"?>
<EventQueueConfig>
  <PublishedEvents>
    <Event>
      <EventName>Application_Start</EventName>
      <Subscribers>930478f2-5d76-45fc-bfe2-75a00c853613</Subscribers>
    </Event>
  </PublishedEvents>
  <EventQueueSubscribers>
    <Subscriber>
      <ID>930478f2-5d76-45fc-bfe2-75a00c853613</ID>
      <Name>DNN Core</Name>
      <Address />
      <Description />
      <PrivateKey>B96AE2AD2D381DBF14AC6E61BBD5ABFA</PrivateKey>
    </Subscriber>
  </EventQueueSubscribers>
</EventQueueConfig>
